@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Nunito:wght@300;600&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  background: linear-gradient(135deg, #1f1c2c, #928dab);
  box-shadow: inset 0 2px 6px 2px rgba(0, 0, 0, 0.27);
}

section {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  min-height: 100vh;
  padding: 20px 60px;
  flex-wrap: wrap;
  margin-top: 8%;
}

/* CONTENT */

.content {
  flex: 1;
  max-width: 50%;
  min-width: 300px;
  
}

.content h1 {
  font-family: "Comfortaa", sans-serif;
  font-size: clamp(2rem, 4vw, 3.5rem);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1px;
  margin-bottom: 36px;
  color: #fff;
}

.content p {
  font-size: clamp(0.9rem, 3vw, 1.25rem);
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 30px;
  color: #fff;
}

/* Contenedor del botón */
.button-container {
  display: inline-block;
  margin-top: 1rem;
}

/* Estilos del botón */
.btn-13 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 18px; /* Ajuste de tamaño de fuente */
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  padding: 1rem 5rem;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  position: relative;
  border: 2px solid #fff;
  letter-spacing: 1px; /* Ajuste de espaciado de letras */
}

.btn-13 .link {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit; /* Hereda el color del botón */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }

.btn-13:disabled {
  cursor: default;
}

.btn-13 svg {
  display: block;
  vertical-align: middle;
}

.btn-13 span {
  mix-blend-mode: difference;
  position: relative;
  z-index: 1;
  font-weight: bold;
}

.btn-13:after,
.btn-13:before {
  background: #fff;
  -webkit-clip-path: polygon(
    0 0,
    100% 0,
    100% calc(var(--progress, 0%) / 2),
    0 calc(var(--progress, 0%) / 2),
    0 0,
    0 calc(100% - var(--progress, 0%) / 2),
    100% calc(100% - var(--progress, 0%) / 2),
    100% 100%,
    0 100%,
    0 calc(100% - var(--progress, 0%) / 2)
  );
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(var(--progress, 0%) / 2),
    0 calc(var(--progress, 0%) / 2),
    0 0,
    0 calc(100% - var(--progress, 0%) / 2),
    100% calc(100% - var(--progress, 0%) / 2),
    100% 100%,
    0 100%,
    0 calc(100% - var(--progress, 0%) / 2)
  );
  content: "";
  inset: 0;
  position: absolute;
  transform: translateX(calc(100% - var(--progress, 0%) / 1.99));
  transition: transform 0.2s ease, -webkit-clip-path 0.2s ease;
  transition: clip-path 0.2s ease, transform 0.2s ease;
  transition: clip-path 0.2s ease, transform 0.2s ease,
    -webkit-clip-path 0.2s ease;
}

.btn-13:after {
  transform: translateX(calc(-100% + var(--progress, 0%) / 1.99));
}

.btn-13:hover {
  --progress: 100%;
}

/* SLIDER */

.swiper {
  flex: 1;
  max-width: 30%;
  min-width: 300px;
  position: relative;
  width: 405px;
  height: 490px;
}

.swiper-slide {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.3);
  user-select: none;
  border-radius: 20px;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

/* Responsividad */

@media (max-width: 930px) {
  section {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .swiper {
    width: 300px;
    height: 400px;
  }

  .content {
    text-align: center;
    max-width: 100%;
  }

  .content h1 {
    margin-bottom: 20px;
  }
}
